# Sanity
NEXT_PUBLIC_SANITY_PROJECT_ID=your_project_id
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_READ_TOKEN=your_read_token

# Resend
RESEND_API_KEY=your_resend_api_key
CONTACT_EMAIL=your_email@example.com

# Spline
NEXT_PUBLIC_SPLINE_SCENE_URL=https://prod.spline.design/your-scene-id/scene.splinecode

# Site
NEXT_PUBLIC_SITE_URL=TODO_WEBSITE_URL
